body {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid rgb(247, 247, 247);
}

.title, .title a {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
